USE [master]
GO
/****** Object:  Database [FoodHub]    Script Date: 10/16/2019 8:24:04 AM ******/
CREATE DATABASE [FoodHub]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'FoodHub', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FoodHub.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'FoodHub_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL14.SQLEXPRESS\MSSQL\DATA\FoodHub_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [FoodHub].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [FoodHub]
GO
/****** Object:  Table [dbo].[Food]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Food](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FoodCategoryId] [tinyint] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[IsMeal] [bit] NOT NULL,
 CONSTRAINT [PK_Food] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodDetail]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodDetail](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FoodId] [bigint] NOT NULL,
	[LanguageId] [tinyint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FoodDetail] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[FoodSchedule]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[FoodSchedule](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FoodId] [bigint] NOT NULL,
	[AvailableDate] [datetime2](7) NOT NULL,
	[AvailableCount] [int] NOT NULL,
	[BreakFast] [bit] NOT NULL,
	[Lunch] [bit] NOT NULL,
	[Dinner] [bit] NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_FoodSchedule] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Language]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Language](
	[Id] [tinyint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Abbreviation] [char](3) NOT NULL,
	[Flag] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Language] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Reserve]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Reserve](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[FoodScheduleId] [bigint] NOT NULL,
	[ReserveUserId] [bigint] NOT NULL,
	[ReserveDate] [datetime2](7) NOT NULL,
	[ReserveCount] [int] NOT NULL,
	[BreakFast] [bit] NOT NULL,
	[Lunch] [bit] NOT NULL,
	[Dinner] [bit] NOT NULL,
	[IsSold] [bit] NOT NULL,
	[Description] [nvarchar](max) NULL,
 CONSTRAINT [PK_Reserve] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
	[RoleId] [tinyint] NOT NULL,
	[Email] [nvarchar](50) NOT NULL,
	[ZipCode] [char](6) NOT NULL,
	[Address] [nvarchar](max) NOT NULL,
	[Mobile] [nchar](14) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
	[Telegram] [nvarchar](50) NOT NULL,
	[AuthAsCollege] [bit] NOT NULL,
	[IsActive] [bit] NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User_1] UNIQUE NONCLUSTERED 
(
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User_2] UNIQUE NONCLUSTERED 
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_User_3] UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserDocument]    Script Date: 10/16/2019 8:24:04 AM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserDocument](
	[Id] [bigint] IDENTITY(1,1) NOT NULL,
	[UserId] [bigint] NOT NULL,
	[Name] [nvarchar](50) NOT NULL,
	[Image] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_UserDocument] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY],
 CONSTRAINT [IX_UserDocument] UNIQUE NONCLUSTERED 
(
	[UserId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_FoodDetail]    Script Date: 10/16/2019 8:24:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FoodDetail] ON [dbo].[FoodDetail]
(
	[FoodId] ASC,
	[LanguageId] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_FoodSchedule]    Script Date: 10/16/2019 8:24:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_FoodSchedule] ON [dbo].[FoodSchedule]
(
	[FoodId] ASC,
	[AvailableDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Language]    Script Date: 10/16/2019 8:24:04 AM ******/
CREATE UNIQUE NONCLUSTERED INDEX [IX_Language] ON [dbo].[Language]
(
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_User]    Script Date: 10/16/2019 8:24:04 AM ******/
CREATE NONCLUSTERED INDEX [IX_User] ON [dbo].[User]
(
	[Name] ASC,
	[Email] ASC,
	[Mobile] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Food] ADD  CONSTRAINT [DF_Food_IsMeal]  DEFAULT ((0)) FOR [IsMeal]
GO
ALTER TABLE [dbo].[FoodSchedule] ADD  CONSTRAINT [DF_FoodSchedule_BreakFast]  DEFAULT ((0)) FOR [BreakFast]
GO
ALTER TABLE [dbo].[FoodSchedule] ADD  CONSTRAINT [DF_FoodSchedule_Lunch]  DEFAULT ((0)) FOR [Lunch]
GO
ALTER TABLE [dbo].[FoodSchedule] ADD  CONSTRAINT [DF_FoodSchedule_Dinner]  DEFAULT ((0)) FOR [Dinner]
GO
ALTER TABLE [dbo].[Reserve] ADD  CONSTRAINT [DF_Reserve_BreakFast]  DEFAULT ((0)) FOR [BreakFast]
GO
ALTER TABLE [dbo].[Reserve] ADD  CONSTRAINT [DF_Reserve_Lunch]  DEFAULT ((0)) FOR [Lunch]
GO
ALTER TABLE [dbo].[Reserve] ADD  CONSTRAINT [DF_Reserve_Dinner]  DEFAULT ((0)) FOR [Dinner]
GO
ALTER TABLE [dbo].[Reserve] ADD  CONSTRAINT [DF_Reserve_IsSold]  DEFAULT ((0)) FOR [IsSold]
GO
ALTER TABLE [dbo].[User] ADD  CONSTRAINT [DF_User_IsActive]  DEFAULT ((1)) FOR [IsActive]
GO
ALTER TABLE [dbo].[Food]  WITH CHECK ADD  CONSTRAINT [FK_Food_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Food] CHECK CONSTRAINT [FK_Food_User]
GO
ALTER TABLE [dbo].[FoodDetail]  WITH CHECK ADD  CONSTRAINT [FK_FoodDetail_Food] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FoodDetail] CHECK CONSTRAINT [FK_FoodDetail_Food]
GO
ALTER TABLE [dbo].[FoodDetail]  WITH CHECK ADD  CONSTRAINT [FK_FoodDetail_Language] FOREIGN KEY([LanguageId])
REFERENCES [dbo].[Language] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[FoodDetail] CHECK CONSTRAINT [FK_FoodDetail_Language]
GO
ALTER TABLE [dbo].[FoodSchedule]  WITH CHECK ADD  CONSTRAINT [FK_FoodSchedule_Food] FOREIGN KEY([FoodId])
REFERENCES [dbo].[Food] ([Id])
GO
ALTER TABLE [dbo].[FoodSchedule] CHECK CONSTRAINT [FK_FoodSchedule_Food]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_FoodSchedule] FOREIGN KEY([FoodScheduleId])
REFERENCES [dbo].[FoodSchedule] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_FoodSchedule]
GO
ALTER TABLE [dbo].[Reserve]  WITH CHECK ADD  CONSTRAINT [FK_Reserve_User] FOREIGN KEY([ReserveUserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Reserve] CHECK CONSTRAINT [FK_Reserve_User]
GO
ALTER TABLE [dbo].[UserDocument]  WITH CHECK ADD  CONSTRAINT [FK_UserDocument_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([Id])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[UserDocument] CHECK CONSTRAINT [FK_UserDocument_User]
GO
USE [master]
GO
